<mat-toolbar class="navbar">
  <img src="assets/logo.jpg" alt="Logo" class="navbar-logo">
  <button mat-button class="nav-button" routerLink="/dashboard" routerLinkActive="active-link">Dashboard</button>
  <button mat-button class="nav-button" routerLink="/patient-information" routerLinkActive="active-link">Patient Information</button>
  <button mat-button class="nav-button" routerLink="/implant-variant" routerLinkActive="active-link">Implant Variant</button>
  <button mat-button class="nav-button">Crown and Bridge</button>
  <button mat-flat-button color="primary" class="report-button">Generate Report</button>  

  <span class="spacer"></span>

  <button mat-icon-button class="profile-icon">
    <img src="assets/profile.jpeg" alt="Profile" class="profile-photo">

  </button>

  </mat-toolbar>
